.Esqueleto {
    box-sizing: border-box;
    background-image: url("../../Pages/imagenes/imagedetail\ -\ copia.png");
    Background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Main {
    box-sizing: border-box;
    margin: 30px auto 58px 200px;
    padding: 30px 64px 0px 59px;
    width: 79.5%;
    display: flex;
    flex-direction: column;
}

.Top {
    box-sizing: border-box;
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: row;
}

.SiteImg {
    box-sizing: border-box;
    width: 24%;
    height: 100%;
    padding: 10px;
}

.Img {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 165px;
    right: 3px;
}

.SiteInfo {
    width: 76%;
    height: 100%;
    padding-left: 10px;

}

.InfoDetail1 {
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;

}

.InfoDetail2 {
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
}

.InfoDetail3 {
    width: 100%;
    height: 38px;
    display: flex;
}

.Name {
    width: 20%;
    margin: 0px;
    padding: 5px;
    font-size: 1.3rem;
    text-align: end;
}

.Title {
    margin: 0px;
    padding: 5px;
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
}

.Info2 {
    width: 50%;
    margin: 0px;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    display: flex;

}

.Diets {
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-size: 1.2rem;
    text-align: center;
}

.Steps {
    width: 100%;
    height: 470px;
    box-sizing: border-box;
}

.StepTitle {
    width: 100%;
    height: 45px;
    bottom: 5px;
    margin: 10px 0 0 0;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.Step {
    width: 95%;
    height: 385px;
    margin: 10px 25px 20px;
    font-size: 1.2rem;
}

.Bot {
    box-sizing: border-box;
    width: 100%;
    height: 230px;
    padding: 12px;
}