.Main {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 95%;
    width: 100%;
    height: 100%;
    background-color: rgb(180, 152, 110);
}

.SizeBar {

    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 20px;
    width: 30%;

}

.Filter {
    width: 25%;
    height: 100%;
}

.SearchBar {
    width: 80%;
    height: 30px;
    border-radius: 1vh;
}

.CreateRecipe {
    box-sizing: border-box;
    padding: 20px;

    text-align: center;
    width: 20%;
    height: 100%;
}