.Background {

    width: 100%;
    height: 100%;
    Background-image: url('./imagenes/portada.jpg');
    Background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;

}

.Main {
    box-sizing: border-box;
    padding: 80px;
    width: 50%;
    float: right;
    height: 100%;

}

.TitlePosition {
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    text-align: center;
}

.Title {
    box-sizing: border-box;
    font-family: cursive;
    font-style: italic;
    font-size: 3rem;
}