.Principal {
    box-sizing: border-box;
    position: relative;
    width: 100vh;
    height: 40vh;
    background-color: brown;
}

.Divcont {
    box-sizing: border-box;
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Size {
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    width: 33.3vh;
    height: 20vh;
    justify-content: space-around;
}